{{#if content}}
<div class="ui container">
    <a href="/games/{{game}}/{{category}}/edit"><div style="margin-bottom: 20px;" class="ui button primary">Edit</div></a>
    <div class="ql-snow">
        <div id="content" class="ql-editor">
            {{{content}}}
        </div>
    </div>
</div>
{{else}}
<div class="ui container">
    <a href="/games/{{game}}/{{category}}/edit"><div class="ui button primary">Edit</div></a>
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            We're sorry, we can't seem to find content for this page.
        </div>
        <p>Message a staff member if you think this is a problem.
        </p>
    </div>

</div>
{{/if}}