<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=mlevgmjucxqzw93uidq0dry784pcspfhy7z4okear2wcfo0h"></script>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body class="Site">
  <!--
                                                 ,  ,
                                               / \/ \
                                              (/ //_ \_
     .-._                                      \||  .  \
      \  '-._                            _,:__.-"/---\_ \
 ______/___  '.    .--------------------'~-'--.)__( , )\ \
`'--.___  _\  /    |             Zelda       ,'    \)|\ `\|
     /_.-' _\ \ _:,_             Strats            " ||   (
   .'__ _.' \'-/,`-~`                                |/
       '. ___.> /=,|                                 |
        / .-'/_ )  '---------------------------------'
        )'  ( /(/
             \\ "
              '=='
*/
-->
  <main class="Site-content">
    <div class="ui inverted menu">
      <div class="ui container">
        <a href="/" class="header item">
        <img class="logo" src="/images/mastersword.png">
        Zelda Strats
      </a>

        <a href="/games" class="item right">Games</a> {{#if user}}
        <div class="ui simple dropdown item">
          {{user.username}} <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/users/logout">Logout</a>
            <a class="item" href="#">Profile</a>
          </div>
        </div>
        {{else}}
        <a href="/users/login" class="item">Login</a>
        <a href="/users/register" class="item">Register</a> {{/if}}
      </div>
    </div>


    {{#if error}}
    <div class="ui container">
      <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
          {{error}}
        </div>
        </ul>
      </div>
    </div>
    {{/if}} {{#if success_msg}}
    <div class="ui container">
      <div class="ui success message">
        <i class="close icon"></i>
        <div class="header">
          {{success_msg}}
        </div>
        </ul>
      </div>
    </div>
    {{/if}} {{#if error_msg}}
    <div class="ui container">
      <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
          {{error_msg}}
        </div>
        </ul>
      </div>
    </div>
    {{/if}} {{#if error}}
    <div class="ui container">
      <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
          {{error}}
        </div>
        </ul>
      </div>
    </div> {{/if}} {{{body}}}
  </main>

  <div class="ui inverted vertical footer segment sticky">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="eight wide column">
          <h4 class="ui inverted header">Socials</h4>
          <div class="ui inverted link list">
            <a href="http://www.twitter.com/trokematthew" class="item">Twitter</a>
            <a href="http://www.twitch.tv/xmattgaming" class="item">Twitch</a>
          </div>
        </div>
      
        
        <div class="seven wide column">
          <h4 class="ui inverted header">Zelda Strats</h4>
          <p>Zelda Strats&trade; is a Zelda strategy guide for speedrunners. Now listing all Zelda games and all categories. Each category for each game has strategies created by only the best and most trustworthy runners in the community.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="/images/hylianshield.png" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="/">Contact Us</a>
        <a class="item" href="/">Terms and Conditions</a>
      </div>
    </div>
  </div>
</body>


</html>